<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yooho.zerostart">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />




    <application
        android:name="com.example.yooho.zerostart.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DownloadModelActivity" />
        <activity android:name=".DialogActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name=".TextViewActivity" />
        <activity android:name=".tabhost.IndexEnterActivity" />
        <activity android:name=".ui.view.icon.NumberIconActivity" />
        <activity android:name=".ui.view.line.DynamicalLineActivity" />
        <activity android:name=".ui.view.weather.WeatherDemoActivity" />
        <activity android:name=".ui.activity.DiyViewActivity" />
        <activity android:name=".ui.activity.DiyRuleActivity" />
        <activity android:name=".ui.view.hidetitle.HideTitleActivity" />
        <activity android:name=".ui.view.listview.MyExpandListActivity" />
        <activity android:name=".ui.view.listview.PinnedListActivity" />
        <activity android:name=".ui.view.listview.PinnedListActivity2" />
        <activity android:name=".ui.activity.AddChooseViewActivity" />

        <activity android:name=".ui.BaseActivity" />
        <activity android:name=".ui.view.processbar.DashBoardActivity" />
        <activity android:name=".screenshotter.ScreenShotterAct" />
        <activity
            android:name=".screenshotter.TakeScreenShotActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation|locale"
            android:theme="@style/AppTheme.Transparent" />
        <activity android:name=".ui.toast.ToastActivity"/>
        <activity android:name=".ui.VerticalSeekbarActivity"/>
        <activity android:name=".system.SystemTestActivity"/>
        <activity android:name=".mvvm.activity.MVVMActivity"/>
        <activity android:name=".ui.activity.RecycleViewActivity"/>
        <activity android:name=".ui.activity.VolleyActivity"/>
        <activity android:name=".net.okhttp.OkhttpActivity"/>
        <activity android:name=".image.ImageActivity"/>
        <activity android:name=".databing.DatabingActivity"/>
        <activity android:name=".ui.view.icon.EmptyActivity"/>
        <activity android:name=".ui.view.icon.EmptyShareActivity"/>
        <activity android:name=".ui.view.icon.VectorActivity"/>
        <activity android:name=".SVG.SVGControlActivity"/>
        <activity android:name=".ui.view.bitmap.blur.BlurMaskActivity"/>
        <activity android:name=".net.rxjava.RxJavaDemoActivity"/>
        <activity android:name=".ui.view.bitmap.splite.SplitBitmapActivity"/>
        <activity android:name=".black.activity_factory.ActivityFactoryAct"/>
        <activity android:name=".ui.theme.ThemeActivity"/>
        <activity android:name=".ui.theme.ThemeActivity2"/>
        <activity android:name=".black.theme_factory.ThemeFactoryActivity"/>
        <activity android:name=".net.retrofit.RetrofitActivity"/>
        <activity android:name=".ui.activity.ConstraintActivity"/>
        <activity android:name=".ui.activity.AsyncValueActivity"/>
        <activity android:name=".ui.activity.AnimateListActivity"/>
        <activity android:name=".ui.activity.PageUiActivity" />
        <activity android:name=".ui.activity.ImmersiveActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ui.activity.PaletteActivity"/>
        <activity android:name=".ui.activity.DynamicBarActivity"/>
        <activity android:name=".ui.activity.DynamicBarActivity1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ui.activity.DynamicBarActivity2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ui.activity.DynamicBarActivity3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ui.activity.NotifyUiActivity"/>
        <activity android:name=".ui.activity.NotifySnackBarActivity"
            android:label="SnackbarSamples"
            android:screenOrientation="portrait"/>

        <service android:name=".myaidl.AIDLService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.yooho.aidl"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <!-- test download -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.yooho.zerostart.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath" />
        </provider>

    </application>

</manifest>