<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yooho.zerostart">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DownloadModelActivity" />
        <activity android:name=".DialogActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name=".TextViewActivity" />
        <activity android:name=".tabhost.IndexEnterActivity" />
        <activity android:name=".ui.view.icon.NumberIconActivity" />
        <activity android:name=".ui.view.line.DynamicalLineActivity" />
        <activity android:name=".ui.view.weather.WeatherDemoActivity" />
        <activity android:name=".ui.view.hidetitle.HideTitleActivity" />
        <activity android:name=".ui.view.listview.MyExpandListActivity" />
        <activity android:name=".ui.view.listview.PinnedListActivity" />
        <activity android:name=".ui.view.listview.PinnedListActivity2" />
        <activity android:name=".ui.activity.AddChooseViewActivity" />

        <activity android:name=".ui.BaseActivity" />
        <activity android:name=".ui.view.processbar.DashBoardActivity" />
        <activity android:name=".screenshotter.ScreenShotterAct" />
        <activity
            android:name=".screenshotter.TakeScreenShotActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation|locale"
            android:theme="@style/AppTheme.Transparent" />
        <activity android:name=".ui.toast.ToastActivity"/>
        <activity android:name=".ui.VerticalSeekbarActivity"/>
        <activity android:name=".system.SystemTestActivity"/>
        <activity android:name=".mvvm.activity.MVVMActivity"/>
        <activity android:name=".ui.activity.RecycleViewActivity"/>
        <activity android:name=".ui.activity.VolleyActivity"/>
    </application>

</manifest>